{% extends 'base.html' %}
{% load static %}

{% block title %}Jogadores | Seleção Brasileira{% endblock %}

{% block banner_text %}
    <h1>Jogadores</h1>
{% endblock %}

{% block content %}
<section class="jogadores">
    <div class="container">
        <h3>Nossos Jogadores</h3>
        <p>Conheça os jogadores mais poderosos da seleção brasileira.</p>
        <div class="rows-cards">
            {% for jogador in jogadores %}
            <div class="rows-cards-jogadores">
                <img src="{% static jogador.foto %}" alt="">
                <p class="nome-jogador"><strong>{{ jogador.nome }}</strong></p>
                <p class="descricao-jogador">
                    Idade: {{ jogador.idade}}<br>
                    Local de nascimento: {{jogador.nascimento}}<br>
                    Posição: {{jogador.posicao}}
                </p>
            </div>
            {% endfor%}
            
        </div>
    </div>
</section>
{% endblock %}