{% extends 'base.html' %}
{% block title %}Jogadores | Seleção Brasileira{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
    <title>Jogadores | Seleção Brasileira</title>
</head>

<body>
    <header style="background-image: url('img/selecao\ fundo.png');">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img src="img/cbf-logo.png" alt="logo">
                </a>
                <ul class="ul">
                    <a href="index.html">Início</a>
                    <a href="jogadores.html">Jogadores</a>
                    <a href="sobre.html">Sobre</a>
                </ul>
            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>Jogadores</h1>
                </div>
            </section>
        </div>
    </header>
    <section class="jogadores">
        <div class="container">
            <h3>Nossos Jogadores</h3>
            <p>Conheça os jogadores mais poderosos da seleção brasileira.</p>
            <div class="rows-cards">
                <div class="rows-cards-jogadores">
                    <img src="img/endrick.png" alt="">
                    <p class="nome-jogador"><strong>Endrick Felipe</strong></p>
                    <p class="descricao-jogador">
                        Endrick Felipe Moreira de Sousa, de 18 anos nascido em Taguatinga, Distrito Federal. É um futebolista brasileiro que atua como atacante.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/rodrigo.png" alt="">
                    <p class="nome-jogador"><strong>Rodrygo</strong></p>
                    <p class="descricao-jogador">
                        Rodrygo Silva de Goes, de 23 anos e nascido em Osasco, São Paulo. É um futebolista brasileiro que atua como atacante. </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/vini.png" alt="">
                    <p class="nome-jogador"><strong>Vinicius Junior</strong></p>
                    <p class="descricao-jogador">
                        Vinicius José Paixão de Oliveira Junior, de 24 anos e nascido no Rio de Janeiro, Rio de Janeiro. É um futebolista brasileiro que atua como ponta-esquerda.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/paqueta.png" alt="">
                    <p class="nome-jogador"><strong>Lucas Paquetá</strong></p>
                    <p class="descricao-jogador">
                        Lucas Tolentino Coelho de Lima, de 26 anos e nascido na Ilha de paquetá, Rio de Janeiro. É um futebolista brasileiro que atua como meio-campista.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/bruno.png" alt="">
                    <p class="nome-jogador"><strong>Bruno Guimarães</strong></p>
                    <p class="descricao-jogador">
                        Bruno Guimarães Rodrigues Moura, de 26 anos e nascido Rio de Janeiro, Rio de Janeiro. É um futebolista brasileiro que atua como volante e meio-campista.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/joao.png" alt="">
                    <p class="nome-jogador"><strong>João Gomes</strong></p>
                    <p class="descricao-jogador">
                        João Victor Gomes da Silva, de 23 anos e nascido no Rio de Janeiro, Rio de Janeiro. É um futebolista brasileiro que atua como volante.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/danilo.png" alt="">
                    <p class="nome-jogador"><strong>Danilo Silva</strong></p>
                    <p class="descricao-jogador">
                        Danilo Luiz da Silva, de 33 anos e nascido em Bicas, Minas Gerais. É um futebolista brasileiro que atua como lateral-direito e zagueiro. </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/marquinhos.png" alt="">
                    <p class="nome-jogador"><strong>Marquinhos</strong></p>
                    <p class="descricao-jogador">
                        Marcos Aoás Corrêa, de 30 anos e nascido em São Paulo, São Paulo. É um futebolista brasileiro que atua como zagueiro.
                    </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/arana.png" alt="">
                    <p class="nome-jogador"><strong>Guilherme Arana</strong></p>
                    <p class="descricao-jogador">
                        Guilherme Antonio Arana Lopes, de 27 anos e nascido em São Paulo, São Paulo. É um futebolista brasileiro que atua como lateral-esquerdo. </p>
                </div>
                <div class="rows-cards-jogadores">
                    <img src="img/militao.png" alt="">
                    <p class="nome-jogador"><strong>Éder Militão</strong></p>
                    <p class="descricao-jogador">
                        Éder Gabriel Militão, de 26 anos e nascido em Sertãozinho, São paulo. É um futebolista brasileiro que atua como zagueiro. </div>
                <div class="rows-cards-jogadores">
                    <img src="img/allison.png" alt="">
                    <p class="nome-jogador"><strong>Alisson Becker</strong></p>
                    <p class="descricao-jogador">
                        Alisson Ramsés Becker, de 31 anos e nascido em Novo Hamburgo, Rio Grande do Sul. É um futebolista brasileiro que atua como goleiro.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="links">
                <a href="https://www.facebook.com/CBF/"> <i class="fa fa-facebook"></i> </a>
                <a href="https://www.instagram.com/cbf_futebol/"> <i class="fa fa-instagram"></i> </a>
                <a href="https://x.com/CBF_Futebol"><i class="fa fa-twitter"></i> </a>
            </div>
        </div>
        <p>copyright © 2024.</p>
    </footer>
</body>

</html>