{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre | Seleção Brasileira{% endblock %}
{% block content %}
<section class="sobre">
    <div class="container">
        <div class="sobre-text">
            <h3>Informações e autores</h3>
            <p>
                Em resumo, o site oferece acesso fácil e rápido, detalhes sobre os jogadores e a seleção. 
                Com uma interface intuitiva e bem organizada, o site é uma ferramenta essencial
                para torcedores, e a comunidade futebolística em geral, 
                promovendo transparência e engajamento no universo do futebol brasileiro.
            </p>
            <br>
            <p>
                Site desenvolvido por:
            </p>  
            <br>
            <p>
                𖧹 Adaylla Alannis <br>
                𖧹 Giulliana Beatriz
            </p>
        </div>
        <div class="sobre-img">
            <img src="{% static 'sobre.png' %}" alt="">
        </div>
    </div>
</section>
{% endblock %}