<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
    <title>Sobre | Seleção Brasileira</title>
</head>

<body>
    <header style="background-image: url('img/selecao\ fundo.png');">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img src="img/cbf-logo.png" alt="logo">
                </a>
                <ul class="ul">
                    <a href="index.html">Início</a>
                    <a href="jogadores.html">Jogadores</a>
                    <a href="sobre.html">Sobre</a>
                    <ul>
            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>Sobre</h1>
                </div>
            </section>
        </div>
    </header>
    <section class="sobre">
        <div class="container">
            <div class="sobre-text">
                <h3>Informações e autores</h3>
                <p>
                    Em resumo, o site oferece acesso fácil e rápido, detalhes sobre os jogadores e a seleção. 
                    Com uma interface intuitiva e bem organizada, o site é uma ferramenta essencial
                    para torcedores, e a comunidade futebolística em geral, 
                    promovendo transparência e engajamento no universo do futebol brasileiro.
                </p>
                <br>
                <p>
                    Site desenvolvido por:
                </p>  
                <br>
                <p>
                    𖧹 Adaylla Alannis <br>
                    𖧹 Giulliana Beatriz
                </p>    
            </div>
        </div>

    </section>
    <footer class="footer">
        <div class="container">
            <div class="links">
                <a href="https://www.facebook.com/CBF/"> <i class="fa fa-facebook"></i> </a>
                <a href="https://www.instagram.com/cbf_futebol/"> <i class="fa fa-instagram"></i> </a>
                <a href="https://x.com/CBF_Futebol"><i class="fa fa-twitter"></i> </a>
            </div>
        </div>
        <p>copyright © 2024.</p>
    </footer>
</body>

</html>